body {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:auto;
  background-color: #e0d3d3;
}
.catWrapper {

  width: 350px;
  height: 350px;
  border: 2px dashed #874a75;
  border-radius: 50%;
  overflow: hidden; /* Скрыть все, что выходит за пределы контейнера */
  
}
.catWrapper > img {

  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
 
  
}
.textContainer {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  margin: 10px 0;
  background-color: #b5a9a9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.textContainer:hover {
  transform: scale(1.05);
}
button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a290a5;
  color: rgb(52, 48, 48);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
button:hover {
  background-color: #6d5470;
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}
