.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Центрирование содержимого по горизонтали */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 500px;
  height: auto;
  margin: 20px auto; /* Центрирование карточки */
}

.img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px; /* Отступ снизу для изображения */
}
.text-container {
  text-align: center;
}
.text-container h2,
.text-container h4 {
  margin: 5px 0;
  line-height: 1.2;
  text-align: center;
}
