
.profileCard {
        position: relative;
        display: flex;
        justify-content: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        width: 300px;
        height: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 50px;
      }
      
      .profileCard_img {
        position: relative;
         top: 0;
         left: 0;
         max-width: 100%;
       height: 100%;
       object-fit: cover;
      }
      
      